body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}

.auth-box {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}

.button-group {
  display: flex;
  gap: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-card {
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
}

.note-card h3 {
  margin-top: 0;
}

.share-box {
  margin-top: 10px;
}

#authMessage,
#noteMessage {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.about-box {
  margin-top: 15px;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.about-box ul {
  padding-left: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}